Repository ComPWA/compwa.github.io, pull requests merged in 2024-05, with the labels that each got.

#271 DOC: add TR-028 with PDG Python API example
  .cspell.json
  docs/conf.py
  docs/report/028.ipynb
Labels: 📝 Docs

#276 FIX: dependency of TR-000 & 001
  docs/report/000.ipynb
  docs/report/001.ipynb
Labels: 🐛 Bug, 📝 Docs

#277 DOC: add Blatt–Weisskopf with Hankel report
  .cspell.json
  docs/bibliography.bib
  docs/report/005.ipynb
  docs/report/010.ipynb
  docs/report/013.ipynb
  docs/report/014.ipynb
  docs/report/015.ipynb
  docs/report/017.ipynb
  docs/report/021.ipynb
  docs/report/024.ipynb
  docs/report/029.ipynb
Labels: 📝 Docs

#274 MAINT: update pip constraints and pre-commit
  .constraints/py3.10.txt
  .constraints/py3.11.txt
  .constraints/py3.12.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .github/release-drafter.yml
  .pre-commit-config.yaml
  docs/adr/002/composition.ipynb
  docs/adr/002/expr.ipynb
  docs/adr/002/function.ipynb
  pyproject.toml
Labels: 🔨 Maintenance

#279 FIX: install `uv` through `pip` on Read the Docs
  .constraints/py3.10.txt
  .constraints/py3.11.txt
  .constraints/py3.12.txt
  .constraints/py3.7.txt
  .constraints/py3.8.txt
  .constraints/py3.9.txt
  .pre-commit-config.yaml
  .readthedocs.yml
  docs/report/003.ipynb
  docs/report/004.ipynb
  docs/report/005.ipynb
  docs/report/006.ipynb
  docs/report/009.ipynb
  docs/report/010.ipynb
  docs/report/016.ipynb
  docs/report/017.ipynb
  docs/report/021.ipynb
  docs/report/024.ipynb
  docs/report/025.ipynb
  docs/report/026.ipynb
  docs/report/027.ipynb
  docs/report/028.ipynb
  docs/report/029.ipynb
  docs/symbolics.ipynb
Labels: 🐛 Bug, 🔨 Maintenance, 🖱️ DX

#278 DOC: build amplitude with K-matrix dynamics
  .cspell.json
  docs/report/.gitignore
  docs/report/000.ipynb
  docs/report/004.ipynb
  docs/report/005.ipynb
  docs/report/009.ipynb
  docs/report/010.ipynb
  docs/report/025.ipynb
  docs/report/026.ipynb
  docs/report/027.ipynb
  docs/report/029.ipynb
  docs/report/030.ipynb
  docs/report/031.ipynb
  docs/report/032.ipynb
Labels: ✨ Feature
